<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <form method="POST" width="50">
            <label for="name">Write down your url</label>
            <input name="text" size="50"> <!--change the length of input fied-->
            <input type="submit">
        </form>
        <form class="teamSelection" method="POST" action="/submitted">  
            <label for="name">undergrad/postgrad  </label>
            <select class="teamForm" id="teamDropdownSelector" type="text" name="teamDropdown" placeholder="Select A Team">
                 <option disabled selected>Select a level</option>
                 <option id="WatfordVSManchester Utd" value="Watford VS Manchester Utd">Watford VS Manchester Utd</option>
            </select>
            <input class="btn" type="submit" value="submit">
        </form>
         
        <table> 
            <tr class="table_header">
                {% for header in headings %}
                <th class="table_cell"> {{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>