<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet"  href="/static/styles.css" />
    </head>
    <body>
        
        <!-- <p>
            <label for="name">course code prefix</label>
            <input name="text" class="text_field_course" size="10" value="{{degree}}"> <!--change the length of input fied
        </p> -->

        <!--Make sure the form has the autocomplete function switched off:-->
        <!-- url for https://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask -->
        <!-- below make two submit on same line -->
        <div style="float: left; "> 
            <form autocomplete="off", action="{{ url_for('handle_degree')}}" width="50px">
                <!-- <label for="name">course code prefix</label> -->
                <div class="autocomplete" >
                    <input name="degree" id="myInput" type="text" placeholder="Course code e.g. ARTS" >
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
        <!-- <div style="float: right;"></div> -->
        <form style="padding-left: 5px;" action="{{ url_for('handle_clear')}}">
            <input type="submit" value="Clear" >              
        </form>
        
        <div class="myspacing"></div>
        <!-- closeable list item - https://www.w3schools.com/howto/howto_js_close_list_items.asp -->
        <div class="myspacing">
            <form action="{{ url_for('handle_close')}}"> 
                {% for d in degree %}
                    <div class="wrapper" style='display: inline;' >
                        
                        <input type="submit" class="degree_btn" name="close" value="{{d}}" >
                        <span class="close" style="left:-16px ;" >x</span>
                    </div>
                {% endfor %}
            </form>
        </div>
       
            
        <!-- <ul> -->
        <!-- </ul>  
        <!-- https://www.tutorialspoint.com/how-to-close-list-items-with-javascript -->
        <!-- <script>
            var closebtns = document.querySelectorAll(".close");
            Array.from(closebtns).forEach(item => {
               item.addEventListener("click", () => {
                  item.parentElement.style.display = "none";
            });
         </script> --> 

        <!--  autocomplete using js - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete -->
        <!--  js files in flask - https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-running-on-flask -->
        <!--  cargo cult-->

        <script type="text/javascript"
            src="{{ url_for('static', filename='myautocomplele.js') }}">
        </script>
        <script>
            var auto_course_code = ["ACCT", "ACTL", "AERO", "ANAT", "ANZG", "ARCH", "ARTS", "ASIA", "ATSI", "AUST", "AVEN", "AVIA", 
                                    "AVIF", "AVIG", "BABS", "BEES", "BEIL", "BENV", "BINF", "BIOC", "BIOM", "BIOS", "BIOT", "BLDG", 
                                    "CDEV", "CEIC", "CHEM", "CHEN", "CLIM", "CODE", "COMD", "COMM", "COMP", "CONS", "CRIM", "CRTV", 
                                    "CVEN", "DATA", "DESN", "DIPP", "DPBS", "DPGE", "DPST", "ECON", "EDST", "ELEC", "ENGG", "ENGL", 
                                    "ENVS", "EXCH", "FINS", "FNDN", "FOOD", "GENC", "GENE", "GENL", "GENM", "GENS", "GENY", "GEOL", 
                                    "GEOS", "GMAT", "GSBE", "GSOE", "HDAT", "HESC", "HIST", "HPSC", "HUML", "HUMS", "IDES", "IEST", 
                                    "INFS", "INST", "INTA", "INTD", "JURD", "LAND", "LAWS", "LING", "MANF", "MARK", "MATH", "MATS", 
                                    "MBAX", "MDCN", "MDIA", "MECH", "MFAC", "MFIN", "MGMT", "MICR", "MINE", "MMAN", "MMGT", "MNGT", 
                                    "MNNG", "MODL", "MSCI", "MTRN", "MUPS", "MUSC", "NANO", "NCHR", "NEUR", "OBST", "OPTM", "PAED", 
                                    "PATH", "PHAR", "PHCM", "PHIL", "PHOP", "PHSL", "PHTN", "PHYS", "PLAN", "PLTX", "POLS", "POLY", 
                                    "PPEC", "PSCY", "PSYC", "PTRL", "REGZ", "REST", "RISK", "SCIF", "SENG", "SLSP", "SOCA", "SOCF", 
                                    "SOCW", "SOLA", "SOMS", "SOSS", "SPRC", "SRAP", "STAM", "SURG", "SUSD", "SWCH", "TABL", "TELE", 
                                    "UDES", "VISN", "WOMS", "YENG", "YMED", "ADAD", "DART", "DDES", "SAHT", "SART", "SDES", "SOMA", 
                                    "YCAN", "ZBUS", "ZBUS", "ZEIT", "ZEIT", "ZGEN", "ZHSS", "ZHSS", "ZINT", "ZINT", "ZPEM", "ZPEM",
                                    "A", "E", "EV", "M", "S", "B", "L", "ALL"
                                    ];
            autocomplete(document.getElementById("myInput"), auto_course_code);
            
        </script>

       
        <div class="myspacing"></div>
        <form id="url" method="POST" width="30" action="{{ url_for('handle_search') }}">
            
            <p></p>
            
                <label for="name">Year  </label>
                <select class="dropdown" id="yearDropdownSelector" type="text" name="yearDropdown" placeholder="Select A year">
                     <option disabled selected>{{year}}</option>
                     <option id="y2021" value="2021">2021</option>
                     <option id="y2020" value="2020">2020</option>
                     <option id="y2019" value="2019">2019</option>
                     <option id="y2018" value="2018">2018</option>
                     <option id="y2017" value="2017">2017</option>
                     <option id="y2016" value="2016">2016</option>
                     <option id="y2015" value="2015">2015</option>
                     <option id="y2014" value="2014">2014</option>
                     <option id="y2013" value="2013">2013</option>
                     <option id="y2012" value="2012">2012</option>
                     <option id="y2011" value="2011">2011</option>
                     <option id="y2010" value="2010">2010</option>
                     <option id="y2009" value="2009">2009</option>
                     <option id="y2008" value="2008">2008</option>
                     <option id="y2007" value="2007">2007</option>
                     <option id="y2006" value="2006">2006</option>
                </select>
                <div class="myspacing"></div>
            </p>
            
            <p>
                <label for="name">Term  </label>
                <select class="dropdown" id="termDropdownSelector" type="text" name="termDropdown" placeholder="Select A term">
                     <option disabled selected>{{term}}</option>
                     <option id="U1" value="U1">Summer</option>
                     <option id="T1" value="T1">T1</option>
                     <option id="T2" value="T2">T2</option>
                     <option id="T3" value="T3">T3</option>
                     <option id="S1" value="S1">S1</option>
                     <option id="S2" value="S2">S2</option>
                     <option id="All_Term" value="All_Term">All_Term</option>
                </select>
                <div class="myspacing"></div>
            </p>
            <p>
                <label for="name">Enrol filter  </label>
                <select class="dropdown" id="percDropdownSelector" type="text" name="percDropdown" placeholder="Select A perc">
                     <option disabled selected>{{perc_num}}</option>
                     <option id="perc" value="perc">percentage</option>
                     <option id="num" value="num">number</option>
                     <option id="lec" value="lec">Lec</option>
                     <option id="campus" value="campus">on_campus</option>
                </select>
                <div class="myspacing"></div>
            </p>
            <p>
                <label for="name">Undergrad/Postgrad  </label>
                <select class="dropdown" id="levelDropdownSelector" type="text" name="levelDropdown" placeholder="Select A level">
                     <option disabled selected>{{under_post}}</option>
                     <option id="undergrad" value="undergrad">undergrad</option>
                     <option id="postgrad" value="postgrad">postgrad</option>
                </select>
                <div class="myspacing"></div>
            </p>
            <p>
                <label for="name">Courses done </label>
                <input type = "text" class="text_field_course_done" name = "courses_done" size="30" value="{{courses_done}}" placeholder="e.g 1511, 1521" />
                <div class="myspacing"></div>
            </p>
            <p>
                <label >Level</label>
                <label>
                <!-- for loop in jinja-template-language - https://overiq.com/flask-101/basics-of-jinja-template-language/ -->
                {% for k, v in levels.items() %}
                    <label class="container " > {{k}}
                    {% if v %}
                    <input type="checkbox" checked="checked" name="level{{k}}" value="{{k}}">
                    {% else %}
                    <input type="checkbox" name="level{{k}}" value="{{k}}">
                    {% endif %}
                    
                    <span class="checkmark" ></span>
                    </label>
                {% endfor %}
                </label>
                
            </p>
          
            <div class="myspacing"></div>
            <input type="submit">
            <div class="myspacing"></div> 
        </form>

        <!-- is_undergrad is {{level}} https://stackoverflow.com/questions/50286820/printing-value-next-to-text-box-from-a-function-in-flask-html -->
        <!-- Collapse - https://www.w3schools.com/howto/howto_js_collapsible.asp -->
        <button type="button" class="collapsible">FYI</button>
        <div class="FYI">
        <p>
            <div class="myspacing"></div>
            Search by Faculties(may not accurate): <p></p><div class="myspacing"></div>
            A - Arts, B - Business, E-engineering, EV - build environment, <p></p>
            L - Law,  M - Medicine, S - Science <p></p>
            <div class="myspacing"></div>
            Ignore Enrol number when there is Lec number <p></p>
            <div class="myspacing"></div>
            Enrol number used when there is no Lec number 
            (enrolment not yet opened) <p></p>
            <div class="myspacing"></div>
            Percentage used for actual enrolment percentage <p></p>
            <div class="myspacing"></div>
            CR1/CR2 means two enrolments (on/offline) <p></p>
            <div class="myspacing"></div>
            Lec size includes both Under / Post students
            <div class="myspacing"></div>
        </p>
        </div>
        <div class="myspacing"></div>
        <button type="button" class="collapsible">Log</button>
            <div class="FYI">
                <p></p>
                <div class="myspacing"></div>
                On campus column may not be right for semester
                <div class="myspacing"></div>
        </div>
        <div class="myspacing"></div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                } 
              });
            }
        </script>
        
        
        <div class="myspacing"></div>
        <div class="myspacing"></div>
        <p></p>
        Result for reference only
        <hr>
        
        <p></p>
        <table> 
            <tr class="table_header">
                {% for header in headings %}
                <th class="table_cell"> {{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>