/* checkboxes - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

/* autocomplete */
* 
{ box-sizing: border-box; }
body {
  font: 18px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 18px;
}
input[type=text] {
  background-color: #f1f1f1;
  text-transform:uppercase !important;
  /* width: 100%; */
}
/* uppercase ignore placeholder field - https://stackoverflow.com/questions/25180140/make-input-value-uppercase-in-css-without-affecting-the-placeholder */
::placeholder { /* Recent browsers */
  text-transform: none;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute ;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99; /*position the autocomplete items to be the same width as the container:*/
  
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 8px ;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* table
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.table {
    border: spacing 0;
    
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(odd) {
    background-color: #e5e5e5;
    border: spacing 0;
}

.table__headers {
    text-align:left;
}

.table_cell {
    padding: 10px;
    border: spacing 0 ;
}
/* needs to F5 to fresh for css update */
.text_field_course_done {
    
    width: 500px;
    height: 20px;
}

/* https://stackoverflow.com/questions/4309950/how-to-align-input-forms-in-html */
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

/* add spacing after label */
label 
{
    padding-right: 5px;
}
.bottom {
    position: fixed;
    bottom: 0;
}
.dropdown
{
    font: 20px Arial;
    width: 200px;
}

.degree_btn {
  background-color: green !important; 
  margin-left: 2px !important; 
  margin-bottom: 2px !important; 
  /* spacing between tags - https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css */
  /* !important - https://stackoverflow.com/questions/20954715/how-to-override-the-properties-of-a-css-class-using-another-css-class */
  color: #fff;
  width: 70px !important; 
  /* above set size of block */
  
}

.degree_btn:hover {background: #bbb !important;} 

.myspacing {
  margin-bottom: 10px !important;
}
/* span tag for add cross - https://stackoverflow.com/questions/20653207/display-span-over-input-with-htmlcss/20653311 */

/*style in tag in html page takes first priority*/
.wrapper span {
  position: relative;
  top:-14px;
  
} 
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* collapsible
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.FYI {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 55%;
  padding-left:3em 
  /* https://stackoverflow.com/questions/1571648/tab-space-instead-of-multiple-non-breaking-spaces-nbsp */
}
